@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css");

h1 {
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	text-align: center;
	font-weight: bold;
}

h2{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	text-align: center;
	font-weight: normal;
	font-weight: bold;
}

h3{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	text-align: center;
	font-weight: bold;
}

h4{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	text-align: left;
	font-weight: bold;
}


a:link {
	color: #669999;
	text-decoration: underline dotted;
	font-weight: bold;
}

a:visited {
	color: #669999;
	text-decoration: underline dotted;
	font-weight: bold;
}

a:hover {
  color: white;
  background-color: #669999;
  text-decoration: underline dotted;
  font-weight: normal;
}

a:active {
  color: white;
  background-color: #669999;
  text-decoration: underline dotted;
  font-weight: normal;
}

body {
  	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	text-align: left;
	max-width: 1000px;
	margin-left: 25px;
	
}
